html {
    width: 100vw !important;
    height: 100vh !important;
    margin: 0;
}

body {
    width: 100% !important;
    height: 100% !important;
    margin: 0;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}



.form {
    display: flex;
    flex-direction: column;
    padding: 5rem;
    border-radius: 3rem;
    width: max-content;
    height: max-content;
    background-color: #81aaeb;
    gap: 2.5rem;
    font-size: 1.5rem;
}


.form div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    width: 100%;
    gap: 1rem;
}



input {
    outline: none;
    border: 1px solid white;
    border-radius: 0.5em;
    padding: 0.5em;
    width: 10rem;
}

input[type="color"] {
    height: 3rem;
}

a {
    text-align: center;
    text-overflow: clip;
}

button {
    border-radius: 1rem;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    padding: 1rem;
    border: 1px solid transparent;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: #cccccc 0px 0px 10px 5px;
}

button:active {
    transform: scale(0.9);
}